body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h1 {
	font-size: 1.75em;
}

section {
	background-color: #D3D3D3;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: relative;
}

section h2 {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: right;
	box-sizing: border-box;
	margin-top: -1px;
	width: 150px;
	text-align: center;
	font-size: 1.25em;
}

section div {
	clear: right;
	font-size: 1em;
}

#section-title1 {
	background-color: #FFC0CB;
}

#section-title2 {
	background-color: #FF0000;
}

#section-title3 {
	background-color: #F0E68C;
}