section {
	background-color: #D3D3D3;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

section h2 {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

#section-title1 {
	background-color: #FFC0CB;
}

#section-title2 {
	background-color: #FF0000;
}

#section-title3 {
	background-color: #F0E68C;
}