body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h1 {
	font-size: 1.75em;
}

body > div {
	float: left;
}

section {
	background-color: #D3D3D3;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: relative;
	box-sizing: border-box;
	margin: 10px;
}

section h2 {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: right;
	box-sizing: border-box;
	margin-top: -1px;
	margin-right: -1px;
	width: 150px;
	text-align: center;
	font-size: 1.25em;
}

section div {
	clear: right;
	font-size: 1em;
	padding: 8px;
	box-sizing: border-box;
}

#section-title1 {
	background-color: #FFC0CB;
}

#section-title2 {
	background-color: #FF0000;
}

#section-title3 {
	background-color: #F0E68C;
}

@media (min-width: 992px) {
	body > div {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.medium-1col {
		width: 50%;
	}

	.medium-2col {
		width: 100%;
	}
}

@media (max-width: 767px) {
	body > div {
		width: 100%;
	}
}